<html>
<head>
<style>
*{font-size:40px; font-family:Courier; }
</style>
<title>Heartify by Sushant 
</title>
</head>
<body style="background-color:tomato;">
<center>
<div style="background-color:black;">
<h1 style="font-family:TimesNewRoman; font-size:45px; color:white;">MY HEART DISEASE PREDICTOR</h1>
</div><br>
<hr>
<div style="background-color:ivory ; font-family:Courier"><h2>CONGRATULATIONS ! 
YOU HAVE A HEALTHY HEART </h2>
</div><hr>
<br>
<form action="back" method="post">
<input type="submit" value="Back to Home" name="back">
<form>
</center>
</body>
</html>