<html>
<head>
<style>
*{font-size:40px; font-family:Courier; }
</style>
<title>Heartify by Sushant 
</title>
</head>
<body style="background-color:tomato;">
<center>
<div style="background-color:black;">
<h1 style="font-family:TimesNewRoman; font-size:45px; color:white;">MY HEART DISEASE PREDICTOR</h1>
</div><br>
<hr>
<div style="background-color:ivory ; font-family:Courier">
<h2 style="color:red;">!You are at risk of a possible Heart Disease !  <br> GET MEDICAL ATTENTION</h2></div><hr><br>
<div style= "background-color:plum; font-size:30px;">
<br><p1> Here are a few ways to keep your heart healthy :<br><hr>
1.Eat healthy<br>
2.Get active<br>
3.Stay at a healthy weight<br>
4.Quit smoking and stay away from secondhand smoke<br>
5.Control your cholesterol and blood pressure<br>
6.Drink alcohol only in moderation<br>
7.Manage stress</p1>
</div><hr>
<br>
<form action="back" method="post">
<input type="submit" value="Back to Home" name="back">
<form>
</center>
</body>
</html>